.memegenerator{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.img{
    height: 430px;
    object-fit: cover;
}
.memebtn{
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    color: blue;
    margin: 70px;
    font-size: 2rem;
    cursor: pointer;
}
.memebtn:hover{
    background-color:rgb(246, 82, 82);
}
body{
    background-color: #e4d4d4;
}
.meme-author{
    margin: 8px;
}
@media screen and (max-width: 787px) {
    .memeimg{
       height: 250px;
       width: 250px;
    }
    .meme_title{
        font-size: 1rem;
    }
    
}
